language: generic

install:
  - make install
  - export DENO_INSTALL="$HOME/.deno"
  - export PATH="$DENO_INSTALL/bin:$PATH"
  - deno --version

script:
  - make test

cache:
  directories:
    - "$HOME/.deno"

after_success:
  - curl -sL scripts.piet.me/ci/release | bash

deploy:
  - provider: releases
    api_key: "$GITHUB_TOKEN"
    on:
      tags: true
  - provider: script
    script: "./eggs-publish $TRAVIS_TAG"
    on:
      tags: true

env:
  global:
    - secure: sTqcfpUsb7R3KuXZ1GoJXryZm5PMSd3XYKeBWcqvACTBGkx4ldvGqRYUxcOqAGuP0+zliFS5zdyDa6lTGVE80q02Qo3Wu705J62LyoiRFSjR7g8Y464GOMZv66yPzeNKzRM2W8nZvimcNcFjQoxoIN3AA6kfUytzkvt14JsiT7tqro5cubDa9ifrZH8BYjDWj6QwPeJmRxl7S05nv8xQc1YvcguCFrUdXlpQUh8UCTdXbb33oJSeKCNmGWixssqH0ZPkrzKP9VX2wnABOzEl4faoi1LOKda4T/fyKkKU0Rbu1qj62RPpyQAXBk/RaobRsLzsCCN/OfGQYVASHybxOu14LaAAUoEdwT+aN+NgKnO5IRglWrhO20qpxKSYEcaN4SZ3GHXvhaOl/TTinlOEhTE0hKwMV3dC4pt14DfrwDsGx5H6T+vQi3q9hMNGv5t7vIEPodTyk34ZvAfnoU97lzhlh28KqpEzAi2ODdsEMGph2qMZdHamfxSImNvf6EGF8iNQxPhQmz7WeACBnQz5T3q3V9pgnw3jW6xRLc8f3PxExiJiKJ5PeYuFCn1AjbsKxQqk6eaDeLx+kXfGFqzhQCbikTXE6hUHHePYlgjNmZiLKpkwpamuhc2IoELtz3IrNehziWFuaXSeiSkP+Tw2PmGDlvWEx5YR4rM6oAAG5n8=
    - secure: rlpsyFnOHAeSuRO5lOhCpL6mWyuWqz26FzAnUsF4E3ycqRax6BqbYF/in4M6U2qM0zYwbc1hYI0hP1pwCpefZrfrikTAf/Xb7d69DiV1+VbuNo2boyfcpNcbX4Ld64EFTJfpiOD5XNMCWXpgQODbAwg2ppr3dVS5I6TO7U9fkaTRrTduI+hfUiPVHzNNQS9KBAJSMfpaa+WGc5WTuRh7n/f6gGgvYsaX7MWFLmHO8OieH7XwFYxTNyfHwrSonXTwzWbFOAVjZQKpZlNsPuXUWK6LHE9Heh+rbftiI8akUcVekU+4EZsg1tvJp3utwImCquT2ZRjFJ3mExc+SnOBRwAbEqxe3k456UYrmHQSYGd04rfO9J2V/SV9aWB8kPUQvwfljp/rz7mifNkIA39H3ZYgNE3UsgOl37/Au+C+J9A4XrclL6oGcT9NV8lM3a2cMcQe7uFmxIo6gLr++88nt4ITWZaVNKM0KpgwTKJZAvR5vfVsVkbctpIVqesYgQLeITfYwnpj6saTL9uMNqiOmhcYr93k3NqmgSAH+mDs4vxLql+2C/v5qo42uJaHwQpAJNjqB8bC7w3XXaouQYhMANHohP60Hb9rzR5KDXpy+saz14Za5k4zYMeIJtNeMOvuoS+ITM6EH7cyvK03VWjKichBV/gvxhT5D2EXJUGYAjvk=
